<html >
<head>
<title>Xeno | Verification</title>
</head>
<body>
<main style="margin-top: 15%;
margin-left:25%;
">
  <h2 style=>Hey {{name}},</h2>
  <span>Thank you for registering with Xeno. </span>
  <p>
    Just one step remains before you experience Xeno.<br />
    Click on the link below to verify your account.
  </p>
  <a href ="{{url}}">
  <button style='width: 400px;

  height:50px; background-color: #0f44C7;
  ; color:white; font-weight: bold;margin-bottom:30px; '>VERIFY EMAIL</button>
  </a>
  <br/>
  <footer style='position:absolute;
  bottom: 30px;
  font-size:15px;
  color:grey;
    text-align: center;'   >
      This is a system generated email from Xeno. Do not reply to this.<br/>
      ~ Team Xeno
  </footer>
</main>
</body>
</html>
